body 
{
  font-family: Poppins, 'Noto Sans KR', sans-serif;
  background: #f3f3f3;
}

.back{
    background-image: url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 45vh;
    text-align: center;
}
.aboutMe{
    text-align: center;
}
.aboutImage {    
    max-width: 100%;
}
.section {
  color: rgb(100, 97, 97);
  padding: 50px 0;
}
.skill {
  text-align: center;
  margin-left: 10px;
}
.carousel-inner{
  float:right;
}
h4{font-weight:700}